# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore all `.env` files for environment variables
.env

# Ignore system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore build directory
/build/
